.card {
    box-shadow: 0px 4px 8px black;
    display: inline-block;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0px 8px 16px goldenrod;
    transition: 1s;
}
#it {
    height: 350px;
    width: 200px;
    border: 2px solid black;
}
#zo {
    height: 350px;
    width: 400px;
    border: 2px solid black;
    margin-left: 10px;
}

#im1 {
    width: 200px;
    border-radius: 5px 5px 0 0;
}
#im2 {
    width: 400px;
    height: 255px;
    border-radius: 5px 5px 0 0;
}
.desc {
    padding: 0 18px 0 18px;
    color: indigo;
}